.loginLink {
  width: 278px;
  height: 52px;
  border-radius: 6px;
  border: 1px solid black;
  font-size: 18px;
  top: 340px;
  text-align: center; /* Выравнивание текста по центру */
  line-height: 50px;
}

.loginBoxInput {
  display: contents;
}

.loginBlock {
    position: fixed;
    display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 366px;
  height: 439px;
  border-radius: 12px;
  background-color: white;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-block: 41px;
}

.loginButton {
  width: 278px;
  height: 52px;
  border-radius: 6px;
  background-color: #580EA2;
  font-size: 18px;
  color: #FFFF;
  margin-top: 30px;
}

.loginInput {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-bottom: 1px solid black;
  width: 278px;
  color: #D0CECE;
  margin-top: 30px;
}