.login {
}

.login__block {
    position: fixed;
    display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 366px;
  height: 439px;
  border-radius: 12px;
  background-color: white;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.login__title {
    color: blue;
}